@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Lexend Deca, sans-serif';
}

:root{
    --white-color: #FFF;
    --whitesmoke-color: #F9F9F9;
    --light-grey-color: #ECECEC;
    --grey-color: #C4C4C4;
    --medium-grey-color: #A7A7A7;
    --deep-grey-color: #343434;
    --black-color: #000000;
    --blue-color: #1B77F3;
    --red-color: #CF3C3F;
}

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px;
    min-height: 100vh;
    padding: clamp(35px, 8%, 70px);
}

.login_logo{
    width: 130px;
    margin-bottom: 80px;
}

.login_title{
    color: var(--deep-grey-color);
    font-size: 1.5em;
    margin-bottom: 30px;
}

.login_label{
    display: block;
    margin-bottom: 20px;
    width: 100%;
}

.input{
    width: 100%;
    background-color: var(--light-grey-color);
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0);
    font-size: 0.9em;
    padding: 25px 10px 10px;
    font-weight: 600;
    color: var(--deep-grey-color);
}

.login_label span{
    position: absolute;
    font-size: 0.8em;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--medium-grey-color);
    margin: 20px;
    cursor: text;
}

.input:focus{
    background-color: var(--whitesmoke-color);
    border: 2px solid var(--deep-grey-color);
}

.login_label .active{
    font-size: 0.7em;
    margin: 8px 10px;

}